
BOT_TELEGRAM_BOT_TOKEN=
BOT_DATABASE_URL=postgresql+asyncpg://spiritvpn_bot:spiritvpn_bot@localhost:5434/spiritvpn_bot

BOT_SPIRITVPND_GRPC_TARGET=localhost:8443
BOT_SPIRITVPND_TLS_CLIENT_CERT_FILE=./certs/dev/product-svc.crt
BOT_SPIRITVPND_TLS_CLIENT_KEY_FILE=./certs/dev/product-svc.key
BOT_SPIRITVPND_TLS_CA_FILE=./certs/dev/ca.crt

BOT_SUBSCRIPTION_BASE_URL=http://localhost:8080
BOT_MINI_APP_URL=http://localhost:5173
